In [1]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt

### Reading data from json files

In [2]:
df_jre = pd.read_json('data/JREguests.json')
df_lex = pd.read_json('data/LEXguests.json')
df_fs = pd.read_json('data/FULLSENDguests.json')
df_tim = pd.read_json('data/TimFerrisGuests.json')

In [3]:
df_jre['host'] = 'Joe Rogan'
df_jre = df_jre.rename(columns={0:'guest'})
df_jre.head()

            guest       host
0    Peter Zeihan  Joe Rogan
1    Dave Portnoy  Joe Rogan
2  Bret Weinstein  Joe Rogan
3     John Reeves  Joe Rogan
4     Fedor Gorst  Joe Rogan

In [4]:
df_lex['host'] = 'Lex Fridman'
df_lex = df_lex.rename(columns={0:'guest'})
df_lex.head()

             guest         host
0      Betül Kaçar  Lex Fridman
1  Bhaskar Sunkara  Lex Fridman
2  Nathalie Cabrol  Lex Fridman
3   Michael Malice  Lex Fridman
4      Ed Calderon  Lex Fridman

In [5]:
df_fs['host'] = 'Nelk Boys'
df_fs = df_fs.rename(columns={0: 'guest'})
df_fs.head()

             guest       host
0    Kyle Forgeard  Nelk Boys
1  Aaron Steinberg  Nelk Boys
2       Bob Menery  Nelk Boys
3      Salim Sirur  Nelk Boys
4   Bradley Martyn  Nelk Boys

In [6]:
df_tim['host'] = 'Tim Ferris'
df_tim = df_tim.rename(columns={0:'guest'})
df_tim.head()

            guest        host
0      Rick Rubin  Tim Ferris
1     James Clear  Tim Ferris
2         Brian C  Tim Ferris
3  Jonathan Haidt  Tim Ferris
4  Todd McFarlane  Tim Ferris

In [7]:
df = pd.concat([df_jre[:1000], df_lex, df_fs, df_tim], axis=0, ignore_index=True).dropna()
df

               guest        host
0       Peter Zeihan   Joe Rogan
1       Dave Portnoy   Joe Rogan
2     Bret Weinstein   Joe Rogan
3        John Reeves   Joe Rogan
4        Fedor Gorst   Joe Rogan
...              ...         ...
1643    Tony Robbins  Tim Ferris
1644      Seth Godin  Tim Ferris
1645  Mike Birbiglia  Tim Ferris
1646           Dom D  Tim Ferris
1647      Jamie Foxx  Tim Ferris

[1648 rows x 2 columns]

In [8]:
G = nx.from_pandas_edgelist(df, source='guest', target='host')

## Using **pyvis** to draw the graph

In [9]:
from pyvis.network import Network

In [10]:
net = Network()
net.from_nx(G)
net.repulsion()
# for _, edge in df.iterrows():
#     net.add_nodes([edge['guest'], edge['host']])
#     net.add_edge(edge['guest'], edge['host'])

net.show('pod_net.html')